.contentmain {
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
  align-content: space-between;
  justify-content: space-around;
  flex-wrap: wrap;
  flex: 1 0 21%;
}

.card {
  padding: 10px;
}

.commList {
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 8%;
  padding-right: 8%;
}

.image {
  width: 50%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}