.contentmain {
  display: flex;
  align-content: space-between;
  justify-content: space-around;
  flex-wrap: wrap;
  flex: 1;
}

p {
  max-width: 13%;
  max-height: 10%;
  border: 1px solid black;
}
