.box {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.informationGrid {
  justify-content: center;
  align-items: center;
  padding: 20px;
  min-height: 80vh;
}

.userAvatar {
  width: 140;
  height: 140;
}
