.top {
  display: flex;
  background: green;
  height: 60px;
  width: calc(100vw - 275px);
  /* align-self: right; */
  flex: 1;
  position: fixed;
}

.user {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.username {
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  font-size: 24px;
}

.avatar {
  margin-left: auto;
  align-self: center;
  padding-right: 20px;
}

.pagename {
  align-self: center;
  font-size: 35px;
  margin-left: 10px;
  color: white;
  font-weight: bold;
}
