.wrapper {
  display: flex;
}

.left {
  margin-right: 275px;
}

.caption {
  font-size: 30px;
  padding-top: 2%;
  padding-left: 10%;
  text-align: left;
}

.content {
  margin-bottom: 5%;
}