.signupBox {
  min-height: 100vh;
}

.title {
  color: #11ac0e;
  margin-bottom: 20px;
}

.subtitle {
  margin-bottom: 30px;
}

.paperHeader {
  padding-top: 20px;
}

/* Button Styles */
.button {
  width: 285px;
}

.submit {
  background-color: #11ac0e;
}

.googleSignUp {
  color: #11ac0e;
  border-color: #11ac0e;
}

/* Form Styles */
.formField {
  padding: 30px;
}

.formItemBox {
  width: 300px;
}
